.image{
    display: inline-flex;
    position: relative;
    
    

}
.image_left{
    margin-left: 20px;
    border-radius: 8px;
    width:50px
    
    
   
    
}
.image_box{
  border: 1px solid yellow;
  background-color: orange;
  width: 90px;
  height: 70px;
  color: white;
  border-radius: 3px;
  margin-left: 750px;
  position: absolute;
  
}
.image_font{
  font-weight: 500;
  font-size: medium;
}
.remaining{
  position: absolute;
  display: flex;
  margin-top: 35vh;
  margin-left: 30px;

  
  
  
}
.remaining_2{
  color: WHITE;
  position: absolute;
  margin-left: 38vw;
  margin-top: 33vh;
}